.font-sans{
    font-family:$font-sans;
}
.font-fredoka{
    font-family:$font-fredoka;
}

.font-size-12{
    font-size:12px;
}
.font-size-14{
    font-size:12px;
}
.font-size-16{
    font-size:12px;
}
.font-size-20{
    font-size:12px;
}